# Oracle (Fase 3)
ORACLE_HOST=localhost
ORACLE_PORT=1521
ORACLE_SERVICE_NAME=XE
ORACLE_USER=usuario
ORACLE_PASSWORD=senha

# AWS Alerts (Fase 5 para Fase 7)
AWS_REGION=sa-east-1
AWS_SNS_TOPIC_ARN=arn:aws:sns:sa-east-1:123456789012:farmtech-alertas
ALERT_EMAIL_TO=operacao@example.com

# Runtime
APP_ENV=dev
